/* Global Variables */
:root {
  --secondary: "Red Hat Display", sans-serif;
  --pacifica: 'Pacifico', cursive;
  --primary: 'Raleway', sans-serif;
  --red1: #C21010;
  --red2: #dc3545;
  --white: #FFFDE3;
  --cream: #CFE8A9;
}

/* Body */
body {
  background-color: #f8f9fa;
}

/* Navbar */
.navbar-absolute {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  font-weight: 500;
  font-size: 1.15rem;
  font-family: var(--primary);
  color: white;
}

.nav-link:hover {
  color: rgb(205, 176, 176);
}

.dropdown-menu {
  color: black;
}
.cook-container p{
  font-family: var(--secondary);
}
.top{
  background-image: url(./assets/dashboard.png);
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
}
.dropdown-menu a:hover {
  color: white;
  background-color: var(--red2);
}

/* Headings */
h1, h5 {
  font-family: var(--secondary);
}

h2 {
  font-family: var(--primary);
  font-weight: 300;
}

.text-center h1 {
  font-family: var(--pacifica);
  color: white;
  font-size: 3.5rem;
}

/* Hero Section */
.hero-div {
  height: 60vh;
  background-repeat: no-repeat;
  background-image: url(/src/assets/background.png);
  background-size: cover;
  background-position: center;
}

.hero-div span {
  filter: drop-shadow(5px 5px 4px black);
}

/* Cards */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.dashboard .card:hover {
  transform: none;
  box-shadow: none; 
}
.cook-container .card:hover {
  transform: none;
  box-shadow: none; 
}

.card-title span {
  font-family: var(--pacifica);
  color: var(--red1);
  font-size: larger;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
}

.user-info .nav-link {
  margin-right: 10px;
}

/* Buttons */
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-danger {
  margin-right: 5px;
}

/* Wallpaper and Sections */
.wallpaper {  
  background-image: url(./assets/chef3.jpg);
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.findcook {
  background-image: url(./assets/findcookbg.png);
  background-size: cover;
  height: 60vh;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
